// Place all the styles related to the adventkalender controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//======='========='========='========='=========#========='========='========='========='========='
body{
  background-image:                               image-url("hintergrund_schlitten.jpg");
  background-size:                                100%;
  overflow:                                       hidden;
  height:                                         100%;
  width:                                          100%;

  div.fenster{
    position:                                     absolute;
    height:                                       80px;
    width:                                        130px;
    div.bild{
      // background-color:                           blue;
      background-image:                           image-url('fenster.png');
      background-repeat:                          no-repeat;
      background-position:                        center;
      background-size:                            100%;
      height:                                     100%;
      width:                                      100%;
    }
  }
}